.search {
  width: 100%;
  padding: 3rem 0;
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 0 1rem;
    .left {
      .search-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 0;
        justify-content: center;
        align-items: center;
        .box {
          display: flex;
          max-width: 310px;
          align-items: center;
          margin: auto 1rem;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .promo {
        width: 100%;
        margin: 0.4rem 0;
        margin-bottom: 4rem;
        border: 1px solid #333;
        text-align: center;
        h4 {
          font-size: 1.6rem;
          color: var(--primary-dark);
        }
        .timer {
          padding: 1rem 0;
          font-size: 1.2rem;
        }
        .offers {
          background: #333;
          color: #f5f5f5;
          padding: 0.4rem 0;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        .input-wrap {
          margin: 0.4rem;
          display: flex;
          flex-direction: column;
        }
        .date {
          display: flex;
        }
        input,
        select {
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          outline: none;
        }
        button {
          margin: 0.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .search {
    .container {
      grid-template-columns: 1fr;
      .left {
        .search-col-2 {
          grid-template-columns: 1fr;
          .box {
            text-align: center;
            margin: 1rem auto;
          }
        }
      }
      .right {
        max-width: 100%;
        .promo {
          h4 {
          }
          .timer {
          }
          .offers {
          }
        }
        form {
          width: 100%;
          .input-wrap {
          }
          .date {
            flex-direction: column;
          }
          input,
          select {
          }
          button {
          }
        }
      }
    }
  }
}
